body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-size: 60;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.netflix-red {
  color: #db0000;
}

/* github logo styling */

#triangle {
  display: block;
  width: 80px;
  height: 80px;
  border-style: solid;
  border-width: 0 90px 90px 0;
  border-color: transparent #db0000 transparent transparent;
  position: fixed;
  top: 0;
  right: 0;
}

#triangle-content {
  position: relative;
  top: -3px;
  right: -45px;
  transform: rotate(45deg);
}

/* footer styling */

#footer{
  position: absolute;
  bottom: 10px;
  left: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  width: 700px
}

#footer p {
  font-size: 1rem;
  color: gray;
}

/* welcome page styling */
#welcome h1 {
  font-size: 3rem;
}

#welcome p {
  font-size: 1.5rem;
  line-height: 35px;
}

#demo-text {
  font-size: 1rem;
  font-style: italic;
}

/* disclaimer text */

.disclaimer-text{
  font-size: 1.5rem;
}
